<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Chats">
    <ion-content class="padding">
        <form>
            <label class="chat in ChatsCtrl">
              <p>{{userChat.message}}</p>
                <input id="message" type="message" ng-model="userChat.message" placeholder="Write your message">
            </label>
            <button class="button button-clear button-positive" ng-click="newMessage()">
                Send
            </button>
        </form>
    </ion-content>
</ion-view>