<ion-view>
<ion-content>
 <h2> Task details: </h2>

     <h2>{{task.title}}</h2>
        <p>{{task.description}}</p>
         <button onclick="Accept()">Accept task</button>
         </ion-content>
         <div id="second-map">
      <ion-content class="padding" ng-load="initialize()">
      <div id="map2" show="map" data-tap-disabled="true" style="height:50%; width:100%;"></div>
      <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
        </ion-content>
        </div>
</ion-view>


