<ion-view view-title="Add Task">
    <ion-content class="padding">
        <form>
          <div id="locationField">
            <input id="autcomplete" placeholder="Enter your address" type="text" ng-focus="geolocate()"></input>
          </div>
            <label class="item item-input">
                <span class="input-label">Number</span>
                <input class="field" id="street_number" type="text" ng-model="taskData.houseNumber" disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">Street</span>
                <input class="field" id="route" disabled="true" ng-model="taskData.street">
            </label>
              <label class="item item-input">
                <span class="input-label">City</span>
                <input class="field" id="locality" disabled="true" ng-model="taskData.city">
            </label>
            <label class="item item-input">
                <span class="input-label">Postcode</span>
                <input class="field" id="postal_code" type="text" ng-model="taskData.postcode" disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">Task</span>
                <input type="text" ng-model="taskData.title">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" ng-model="taskData.description">
            </label>
            <button ng-click="newTask()" class="button button-stable button-block">
                Submit
            </button>
        </form>
    </ion-content>
</ion-view>